/*------site start------*/

/*Reponsive Indicator */

#rwd_indicator{
	background-color:white;
	float:left;
	width:100%;
	height:100px;
}

body, .wrap{
	background-color: #f3eeea;
	font-family: Dante;
}

#social{
	color: #65594A;
}

#blogH1{
	text-decoration: underline;
}

a.paginate{
	color: #65594A;
	text-decoration: underline;
	font-size: 20px;
}

a.paginate:visited{
	color: #65594A;
	font-size: 20px;
}

a.paginate:hover{
	color: #C0b3AB;
	font-size: 20px;
}

a.current{
	color: #C0b3AB;
	text-decoration: underline;
	font-size: 20px;
}

a.current:visited{
	color: #65594A;
	font-size: 20px;
}

a.current:hover{
	color: #C0b3AB;
	font-size: 20px;
}

table {
    font-family: arial, sans-serif;
    width: 100%;
		border-style: solid;
		max-width: 570px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #C0B3AB;
}

label{
	text-align: left;
	font-size: 18px;
	color: #65594A;
}

h3{
	color: #65594A;
	font-size: 1.5em;
}

textarea{
	background-color: white;
	resize: none;
	font-size: 18px;
	height: 250px;
}

.submit{
	color: #8E898C;
	font-weight: bold;
	font-size: 18px;
	background-color: white;
	height: 38px;
}

.conUl{
	color: #65594A;
	list-style-type: none;
	line-height: 150%;
}

.fa-lg{
	font-size: 1.33em;
	line-height: .75em;
	vertical-align: -15%;
	height: 25px;
	width: 25px;
}

.fa{
	display: inline-block;

}

.mapCon{
	width: 100%;
	width: 100%;
}

#map{
	max-width: 590px;
	height: 325px;
	background-color: #F3EEEA;
	border-style: solid;
	border-color: #C0B3AB;
	border-width: medium;
}

.welcomeOuter{
	max-height:435px;
	max-width: 360px;
	border-style: solid;
	border-color: #615B46;
	border-width: medium;;
	display: table;
	margin: 0 auto;
}

.welcomeInner{
	margin: 0 auto;
	text-align: center;
	max-width: 300px;
	padding: 0px 10px;
}

.homepageimage{
	max-height: 564px;
	width: 841px;
}

h1{
	color: #65594A;
}

h2{
	color: #65594A;
	font-family: Dante;
}

#homePageH2{
	font-size: 55px;
	font-weight: bold;
}

.homePageGap{
	width: 100;
	height: 550px;
}

.welcomeH2{
	color: #65594A;
	font-family: Dante;
	font-size: 45px;
}

p{
	color: #65594A;
	font-family: Dante;
	font-size: 18px;
}

li{
	font-size: 18px;
}

.welcomeP{
	font-size: 20px;
	padding-left: 9px;
	padding-right: 9px;
	line-height: 110%;

}

#blogH2{
	font-size: 25px;
}

.postFooter{
	width: 100%;
	height: 130px;
	background-color: #fff;
}

#bottomRepeat{
	background-image: url("BBPBottomRepeatCopy.png");
	background-repeat: repeat-x;
	height: 100%;
	width: 100%;
}

#topRepeat{
	background-image: url("BBPTopRepeatCopy.png");
	background-repeat: repeat-x;
	height: 100%;
	width: 100%;

}

#logoBar{
	border-bottom-style: solid;
	border-bottom-color: #C0B3AB;
	border-bottom-width: 5px;/*16px*/
	padding-bottom: 25px;
}

.Collage{
    padding:15px;
}
.Collage img{
    margin:0;
    padding:0;
    display:inline-block;
    vertical-align:bottom;
    opacity:1;
		border-radius: 6px;
    border:6px solid #FFF;
}

.Image_Wrapper{
    /* to get the fade in effect, set opacity to 0 on the first element within the gallery area */
    opacity:0;
    -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.Caption{
    font-size:14px;
    font-weight:normal;
    font-family:arial;
}
.Caption_Content{
    /* padding:10px; */
    color:#FFF;
    padding:20px;
}

.container {
		max-width: 800px;
		margin: 0 auto;
}

.gallery {
		list-style: none;
		overflow: hidden;
		padding: 0;
		margin: 0;
}

.gallery li {
		float: left;
		margin: 4px;
}

.blog{
	background-color: #ece4dd;
	text-align: center;
	min-height: 475px;
	max-width: 100%;
	border-top: 2px #c0b3ab solid;
	border-bottom: 2px #c0b3ab solid;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

a, a:visited{
	color: #65594A;
	font-size: 18px;
}

.image{
	width: 80%;
	background-repeat: round;
	height: 200px;
	display: table;
	margin: 0 auto;
	margin-bottom: 20px;
	border-style: solid;
	border-color: white;
	border-width: 5px;
}

.imageContent{
	max-width: 90%;
	background-repeat: no-repeat;
	height: 90%;
	display: table;
	margin: 0 auto;
}

.blogP{
	border-top: 1px #c0b3ab solid;
	padding-top: 15px;
	padding-left: 8px;
	padding-right: 8px;
	display: table;
	margin: 0 auto;
	max-width: 90%;
}

.homeImage{
	display: table;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	position: relative;
}

.mySlides{
	border-style: solid;
	border-color: white;
	border-width: 3px;
}

.blogContentLeft, .blogContentRight{
	background-color: #C0B3AB;
	width: 100%;
	min-height: 650px;
	border-style: solid;
	border-color: #65594A;
	border-width: 5px;
	border-radius: 5px;
}

.blogContentImage{
	padding-top: 10px;
	height: 300px;
	max-width: 450px;
	display: table;
	margin: 0 auto;
}

.blogContent{
	border-top: 2px #c0b3ab solid;
	border-bottom: 2px #c0b3ab solid;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	display: table;
	margin: 0 auto;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
	background-color: #ECE4DD;
}

.blogContentTitle{
	border-bottom: 1px #c0b3ab solid;
	margin-bottom: 10px;
}

.blogButton{
	color: #65594A;
	font-size: 20px;
}

.blogButton:hover{
	text-decoration: underline;
}

.blogButton:visited{
	color: #65594A;
}

input{
	height: 25px;
	font-size: 18px;
	background-color: white;
}
/*Stick Footer */

.wrap, .push, #wrapper {
  min-height: 100%;
  margin-bottom: -80px;
}
#wrapper:after {
  content: "";
  display: block;
  margin-top:-20px;
  padding:0px;
}
.site-footer, #wrapper:after {
	height: 80px;
}
.wrap {
position: relative;
max-width: 100%;
margin: 0 auto;
}

/* End of sticker Footer */

.site-footer {
	background-color: #F3EEEA;
}

/* Menu */

#menu{
	width:100%;
	padding:0px;
	margin:0px auto;
}

#menu img{
	float:left;
	width:auto;
	margin-top:12px;
	margin-left:10%;
}

#menu ul.mainNav{
	/*float:right;*/
	width:1038px;
	list-style:none;
	/*padding:0px;*/
	margin:0 auto;
	/*margin-right:10%;*/
}

#menu ul.mainNav li a:link,#menu ul.mainNav li a:visited{
	float:left;
	/* width:130px; */
	padding:35px 20px;
	color:#65594A;
	font-weight: bold;
	font-size: 26px;
}

#menu ul.mainNav li a:hover{
	background-color:#F3EEEA;
	color:#C0b3AB;
}

.panel {
position: fixed;
right: -19.625em; /*or width of your navigation panel*/
width: 19.625em; /*should match the above value*/
}

.panel {
background: #F3EEEA;
}
#mobTop{
	float:right;
	margin-right:2%;
	width:57%;
}

ul.mobList{
	float:left;
	padding:0px;
	border-top:3px solid #C0B3AB;
	border-bottom:3px solid #C0B3AB;
	width:100%;
}

ul.mobList li a:link,ul.mobList li a:visited{
	float:left;
	width:100%;
	border-top:1px solid #C0B3AB;
	padding:10px 0px;
	color:#65594A;
}

ul.mobList li a:hover{
	background-color:#F3EEEA;
	color: #C0B3AB;
}
/* End of Menu */


/* Full Screen Banner for Backstretch JS */
#banner{
	float:left;
	min-width:100%;
	min-height:100%;
	display:block;
}

#footerBanner{
	float:left;
	min-width:100%;
	min-height:100%;
	display:block;
}

#headerBanner{
	float:left;
	min-width:100%;
	min-height:100%;
	display:block;
}


 /* JHeader Items */
#smallLogo{
	display:none;
}


#call{
	display:none;
	float:right;
	margin-top:13px;
	margin-right:5%;
	width:auto;
}

#call a:link{
	float:left;
	background-color:#F3EEEA;
	padding:4px 8px;
	color:#65594A;
}


.menu-link{
	display:none;
	float:right;
	background-color:#F3EEEA;
	margin-right:2%;
	margin-top:13px;
	padding:4px 8px;
	color:#65594A;
}

.menu-link:hover{
	background-color:#F3EEEA;
	color:#65594A;
}

.menu-link:visited{
	background-color:#F3EEEA;
	color:#65594A;
}

.btn-left, .btn-right{
	cursor: pointer;
	color: #65594A;
	font-size: 25px;
	background-color: white;
	opacity: 0.5;
	border-radius: 6px;
}

.btn-left:hover, .btn-right:hover{
	color: #65594A;
}

.btn-padding-left{
	padding-left: 12px!important;


}

.btn-floating{
	width: 30px;
	height: 30px;
	line-height: 30px;
}

.btn-left{
	float: left!important;
}

.btn-padding-right{
	padding-right: 12px!important;


}

.btn-right{
	float: right!important;
}

.btnHolder{
	position: absolute;
	top: 50%;
	width: 101%;
}
/*------red------*/
@media only screen and (max-width: 480px) {

	#rwd_indicator{
		background-color:white;
	}

		#menu{
	width:100%;
	padding:0px;
	margin:0px auto;
	}

	#smallLogo {
		display:block;
		float:left;
		width:30%;
		margin-left:5%;
		padding:10px 0px
	}

	#smallLogo img{
		display:block;
		width:100%;
		height:auto;
		padding:0px;
		margin-top:0px;
	}

	#menu img.mainLogo{
		display:none;
	}

	#menu ul.mainNav{
		display:none;
	}

	#call{
		display:block;
	}

	.menu-link{
	display:block;
	}

}

/*------orange------*/
@media all and (max-width: 860px) and (min-width: 481px) {

	#rwd_indicator{
		background-color:white;
	}

	#menu{
	width:100%;
	padding:0px;
	margin:0px auto;
	}

	#smallLogo {
		display:block;
		float:left;
		width:auto;
		margin-left:5%;
		padding:10px 0px
	}

	#smallLogo img{
		display:block;
		width:100%;
		height:auto;
		padding:0px;
		margin-top:0px;
	}

	#menu img.mainLogo{
		display:none;
	}

	#menu ul.mainNav{
		display:none;
	}


	#call{
		display:block;
	}

	.menu-link{
	display:block;
	}
}


/*------Grey-------*/
@media all and (max-width: 1113px) and (min-width: 861px) {

	#rwd_indicator{
		background-color:white;
	}

	#menu{
	width:100%;
	padding:0px;
	margin:0px auto;
	}

	#smallLogo {
		display:block;
		float:left;
		width:15%;
		margin-left:10%;
		padding:10px 0px
	}

	#smallLogo img{
		display:block;
		width:100%;
		height:auto;
		padding:0px;
		margin-top:0px;
	}

	#menu img.mainLogo{
		display:none;
	}

	#menu ul.mainNav{
		display:none;
	}

	#call{
		display:block;
	}

	.menu-link{
	display:block;
	}

}


/*------yellow------*/
@media all and (max-width: 1264px) and (min-width: 1114px) {

	#rwd_indicator{
	background-color:white;
	}

	#menu{
	width:100%;
	padding:0px;
	margin:0px auto;
	}

	#menu img{
	float:left;
	width:auto;
	margin-top:12px;
	margin-left:0%;
	}

	#menu ul.mainNav{
	float:right;
	width:1000px;
	list-style:none;
	padding:0px;
	margin:0px;
	margin-right:0%;
	}

	#menu ul.mainNav li a:link,#menu ul.mainNav li a:visited{
	float:left;
	width:auto;
	padding:35px 20px;
	color:#65594A;
	}
}


/*------green------*/
@media all and (max-width:1600px) and (min-width:1265px){

	#rwd_indicator{
	background-color:white;
	}


	#menu{
	width:100%;
	padding:0px;
	margin:0px auto;
	}

	#menu img{
	float:left;
	width:auto;
	margin-top:12px;
	margin-left:5%;
	}

	#menu ul.mainNav{
	float:right;
	width:1140px;
	list-style:none;
	padding:0px;
	margin:0px;
	margin-right:5%;
	}

	#menu ul.mainNav li a:link,#menu ul.mainNav li a:visited{
	float:left;
	width:auto;
	padding:35px 20px;
	color:#65594A;
	}



}

.mainNav, .welcomeH2, #homePageH2{
	font-family: 'Fredericka the Great', cursive;
}

strong{
	color: #65594A;
	font-size: 20px;
	font-family: 'Fredericka the Great', cursive;
	padding: 10px;
}

.clear-fix{
	width: 100%;
	margin: 3px;
	height:1px;
}
