/*------site start------*/

/*Reponsive Indicator */

#rwd_indicator{
	background-color:white;
	float:left;
	width:100%;
	height:225px;
}

body, .wrap{
	/*I can now edit the background color of the website*/
	background-color: #f3eeea;
	font-family: Dante;
}

#social{
	color: #65594A;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
		border-style: solid;
		border-color: #65594A;
		border-width: 2.5px;
		max-width: 500px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #C0B3AB;
}

label{
	text-align: left;
	font-size: 18px;
	color: #65594A;
}

h3{
	color: #65594A;
	font-size: 1.5em;
}

input{
	background-color: white;
}

textarea{
	background-color: white;
	resize: none;
	font-size: 18px;
}

.submit{
	color: #65594A;
	font-weight: bold;
	font-size: 15px;
	background-color: #C0B3AB;
}

.conUl{
	color: #65594A;
	list-style-type: none;
	line-height: 150%;
}

.fa-lg{
	font-size: 1.33em;
	line-height: .75em;
	vertical-align: -15%;
	height: 25px;
	width: 25px;
}

.fa{
	display: inline-block;

}

.mapCon{
	width: 100%;
	width: 100%;
}

#map{
	max-width: 590px;
	height: 325px;
	background-color: #F3EEEA;
	border-style: solid;
	border-color: #C0B3AB;
	border-width: medium;
}

.welcomeOuter{
	max-height:435px;
	max-width: 360px;
	border-style: solid;
	border-color: #615B46;
	border-width: medium;;
	display: table;
	margin: 0 auto;
}

.welcomeInner{
	margin: 0 auto;
	text-align: center;
	max-width: 300px;
}

.homepageimage{
	max-height: 564px;
	width: 841px;
}

h1{
	color: #65594A;
}

h2{
	color: #65594A;
	font-family: Dante;
}

#homePageH2{
	font-size: 55px;
	font-weight: bold;
}

.homePageGap{
	width: 100;
	height: 550px;
}

.welcomeH2{
	color: #65594A;
	font-family: Dante;
	font-size: 45px;
}

p{
	color: #65594A;
	font-family: Dante;
	font-size: 18px;
}

li{
	font-size: 18px;
}

.welcomeP{
	font-size: 20px;
	padding-left: 4px;
	padding-right: 4px;
	line-height: 110%;

}

.postFooter{
	width: 100%;
	height: 225px;
	background-color: #fff;
}

#bottomRepeat{
	background-image: url("BBPBottomRepeat.png");
	background-repeat: repeat-x;
	height: 100%;
	width: 100%;
}

#topRepeat{
	background-image: url("BBPTopRepeat.png");
	background-repeat: repeat-x;
	height: 100%;
	width: 100%;
}

#logoBar{
	border-bottom-style: solid;
	border-bottom-color: #C0B3AB;
	border-bottom-width: 16px;
}

.Collage{
    padding:15px;
}
.Collage img{
    margin:0;
    padding:0;
    display:inline-block;
    vertical-align:bottom;
    opacity:1;
		border-radius: 6px;
    border:6px solid #FFF;
}

.Image_Wrapper{
    /* to get the fade in effect, set opacity to 0 on the first element within the gallery area */
    opacity:0;
    -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.Caption{
    font-size:14px;
    font-weight:normal;
    font-family:arial;
}
.Caption_Content{
    /* padding:10px; */
    color:#FFF;
    padding:20px;
}

.container {
		max-width: 800px;
		margin: 0 auto;
}

.gallery {
		list-style: none;
		overflow: hidden;
		padding: 0;
		margin: 0;
}

.gallery li {
		float: left;
		margin: 4px;
}

.blog{
	background-color: #C0B3AB;
	text-align: center;
	height: 500px;
	max-width: 100%;
	border-color: #65594A;
	border-width: 6px;
	border-style: solid;
	border-radius: 10px;
}

.image{
	width: 80%;
	background-repeat: no-repeat;
	height: 200px;
	display: table;
	margin: 0 auto;
}

#blogP{
	padding-top: 15px;
	padding-left: 8px;
	padding-right: 8px;
}

/*Stick Footer */

.wrap, .push, #wrapper {
  min-height: 100%;
  margin-bottom: -80px;
}
#wrapper:after {
  content: "";
  display: block;
  margin-top:-20px;
  padding:0px;
}
.site-footer, #wrapper:after {
	height: 80px;
}
.wrap {
position: relative;
max-width: 100%;
margin: 0 auto;
}

/* End of sticker Footer */

.site-footer {
	background-color: #F3EEEA;
}

/* Menu */

#menu{
	width:100%;
	padding:0px;
	margin:0px auto;
}

#menu img{
	float:left;
	width:auto;
	margin-top:12px;
	margin-left:10%;
}

#menu ul.mainNav{
	/*float:right;*/
	width:850px;
	list-style:none;
	/*padding:0px;*/
	margin:0 auto;
	/*margin-right:10%;*/
}

#menu ul.mainNav li a:link,#menu ul.mainNav li a:visited{
	float:left;
	width:130px;
	padding:35px 20px;
	color:#65594A;
	font-weight: bold;
	font-size: 26px;
}

#menu ul.mainNav li a:hover{
	background-color:#F3EEEA;
	color:#C0b3AB;
}

.panel {
position: fixed;
right: -15.625em; /*or width of your navigation panel*/
width: 15.625em; /*should match the above value*/
}

.panel {
background: #F3EEEA;
}
#mobTop{
	float:right;
	margin-right:2%;
	width:57%;
}

ul.mobList{
	float:left;
	padding:0px;
	border-top:3px solid #C0B3AB;
	border-bottom:3px solid #C0B3AB;
	width:100%;
}

ul.mobList li a:link,ul.mobList li a:visited{
	float:left;
	width:100%;
	border-top:1px solid #C0B3AB;
	padding:10px 0px;
	color:#65594A;
}

ul.mobList li a:hover{
	background-color:#F3EEEA;
	color: #C0B3AB;
}
/* End of Menu */


/* Full Screen Banner for Backstretch JS */
#banner{
	float:left;
	min-width:100%;
	min-height:100%;
	display:block;
}

#footerBanner{
	float:left;
	min-width:100%;
	min-height:100%;
	display:block;
}

#headerBanner{
	float:left;
	min-width:100%;
	min-height:100%;
	display:block;
}


 /* JHeader Items */
#smallLogo{
	display:none;
}


#call{
	display:none;
	float:right;
	margin-top:13px;
	margin-right:5%;
	width:auto;
}

#call a:link{
	float:left;
	background-color:#F3EEEA;
	padding:4px 8px;
	color:#65594A;
}


.menu-link{
	display:none;
	float:right;
	background-color:#F3EEEA;
	margin-right:2%;
	margin-top:13px;
	padding:4px 8px;
	color:#fff;
}

.menu-link:hover{
	background-color:#F3EEEA;
	color:#65594A;
}

.menu-link:visited{
	background-color:#F3EEEA;
	color:#65594A;
}



/*------red------*/
@media only screen and (max-width: 480px) {

	#rwd_indicator{
		background-color:white;
	}

		#menu{
	width:100%;
	padding:0px;
	margin:0px auto;
	}

	#smallLogo {
		display:block;
		float:left;
		width:30%;
		margin-left:5%;
		padding:10px 0px
	}

	#smallLogo img{
		display:block;
		width:100%;
		height:auto;
		padding:0px;
		margin-top:0px;
	}

	#menu img.mainLogo{
		display:none;
	}

	#menu ul.mainNav{
		display:none;
	}

	#call{
		display:block;
	}

	.menu-link{
	display:block;
	}

}

/*------orange------*/
@media all and (max-width: 860px) and (min-width: 481px) {

	#rwd_indicator{
		background-color:white;
	}

	#menu{
	width:100%;
	padding:0px;
	margin:0px auto;
	}

	#smallLogo {
		display:block;
		float:left;
		width:auto;
		margin-left:5%;
		padding:10px 0px
	}

	#smallLogo img{
		display:block;
		width:100%;
		height:auto;
		padding:0px;
		margin-top:0px;
	}

	#menu img.mainLogo{
		display:none;
	}

	#menu ul.mainNav{
		display:none;
	}


	#call{
		display:block;
	}

	.menu-link{
	display:block;
	}
}


/*------Grey-------*/
@media all and (max-width: 1113px) and (min-width: 861px) {

	#rwd_indicator{
		background-color:white;
	}

	#menu{
	width:100%;
	padding:0px;
	margin:0px auto;
	}

	#smallLogo {
		display:block;
		float:left;
		width:15%;
		margin-left:10%;
		padding:10px 0px
	}

	#smallLogo img{
		display:block;
		width:100%;
		height:auto;
		padding:0px;
		margin-top:0px;
	}

	#menu img.mainLogo{
		display:none;
	}

	#menu ul.mainNav{
		display:none;
	}

	#call{
		display:block;
	}

	.menu-link{
	display:block;
	}

}


/*------yellow------*/
@media all and (max-width: 1264px) and (min-width: 1114px) {

	#rwd_indicator{
	background-color:white;
	}

	#menu{
	width:100%;
	padding:0px;
	margin:0px auto;
	}

	#menu img{
	float:left;
	width:auto;
	margin-top:12px;
	margin-left:0%;
	}

	#menu ul.mainNav{
	float:right;
	width:900px;
	list-style:none;
	padding:0px;
	margin:0px;
	margin-right:0%;
	}

	#menu ul.mainNav li a:link,#menu ul.mainNav li a:visited{
	float:left;
	width:auto;
	padding:35px 20px;
	color:#65594A;
	}
}


/*------green------*/
@media all and (max-width:1600px) and (min-width:1265px){

	#rwd_indicator{
	background-color:white;
	}


	#menu{
	width:100%;
	padding:0px;
	margin:0px auto;
	}

	#menu img{
	float:left;
	width:auto;
	margin-top:12px;
	margin-left:5%;
	}

	#menu ul.mainNav{
	float:right;
	width:900px;
	list-style:none;
	padding:0px;
	margin:0px;
	margin-right:5%;
	}

	#menu ul.mainNav li a:link,#menu ul.mainNav li a:visited{
	float:left;
	width:auto;
	padding:35px 20px;
	color:#65594A;
	}



}
